
.blog-area{
    width: 100%;
    height: 100%;
    padding: 100px 0;
    *zoom:1;
}
.blog-area:after {content:""; display:block; clear:both;}

.blog-filter{
    float: left;
    max-width: 16%;
}

.blog-filter .label {
    font-size: 14px;
}
.blog-filter .label::after {
    display: block;
    content: "";
    width: 60px;
    border-bottom: 1px solid #ccc;
    padding-top: 24px;
}

.filter-list {
    padding-top: 24px;
}

.filter-list li {
    margin-bottom: 5px;
}
.filter-list li a {
    opacity: .7;
}

.filter-list li:nth-child(1) a {
    font-weight: 500;
    opacity: 1;
}


.blog-feed {
    float: right;
    max-width: 80%;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.75rem;
    flex-wrap: wrap;
}

.blog-card {
    /* height: 15vw;
    overflow:hidden; */
}

.blog-card .blog-img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.blog-category {
    margin-top: 14px;
    font-size: 1.4rem;
    letter-spacing: -0.02em;
    font-weight: 400;
}

.blog-card-title {
    margin-top: 10px;
    font-size: 2rem;
    letter-spacing: -0.02em;
    font-weight: 500;
    line-height: 1.4;
}

.blog-description {
    margin-top: 12px;
    font-size: 1.4rem;
    letter-spacing: -0.02em;
    color: #b5b5b5;
    /* opacity: .6; */
}


@media (max-width: 850px) {
    .blog-area{
        padding-top: 0;
    }

    .blog-filter{
        float: none;
        max-width: 100%;
        margin: 40px 0;
        padding-bottom: 20px;
    }
    
    .blog-filter .label {
        display: none;
    }
    .filter-list {
        padding-top: 0;
    }
    .filter-list li {
        float: left;
        margin-right: 20px;
        *zoom:1;
    }
    .filter-list li:after {content:""; display:block; clear:both;}

    .blog-feed {
        float: none;
        width: 100%;
        max-width: 100%;
        /* display: flex; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2.75rem;
        /* flex-wrap: wrap; */
    }
    .blog-card {
        /* height: 50vw; */
    }
}