@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css using gulp dev

*/

/* 핵심이 되는 css 코드들 요기에 잇네!*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */
@import "vars.css";
@import "components/global.css"; /*reset.css 느낌쓰*/
@import "components/content.css"; /* 뎁스 내용 콘텐츠 사이즈*/
@import "components/hamburger.css";
@import "components/animations.css";


/* Main - Theme styles
/* ---------------------------------------------------------- */

html,body {
    height: 100%;
}
body {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    background: var(--color-bg);
    /*transition: background 0.3s ease-out;*/
    transition-delay: 0.25;
}
img{
    width: 100%;
}
.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}


/* Site Navigation 상단 네비게이션
/* ---------------------------------------------------------- */

.site-head {
    position: fixed;
    width: 100%;
    padding: 1vw 4vw;
    z-index: 1000;
    top: 0;
    left: 0;
}

@media (min-width: 1680px) {
    .site-head-container{
        max-width: 1680px;
        padding: 0 4vw;
        margin: 0 auto;
    }
}
.site-head-logo{
    float: left;
    cursor: pointer;
    padding-top: 7px;
}
.site-head-logo a{
    text-decoration: none;
    font-size: 1.8rem;
    letter-spacing: -.1rem;
    font-weight: var(--font-bold);
}

.site-head-logo img {
    height: 30px;
}

.nav {
    float: right;
    margin: 0 0 0 -12px;
    padding-top: 6px;
    list-style: none;
}

.site-head-left .nav > li {
    padding-bottom: 4px;
    margin-bottom: 20px;
    position: relative;
}
.site-head-left .nav > li::before {
    content: "";
    position: absolute;
    z-index: 999;
    left: 0;
    right: 100%;
    bottom: 2px;
    background: #000; 
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.site-head-left .nav > li:nth-child(1){width: 54px;}
.site-head-left .nav > li:nth-child(2){width: 49px;}
.site-head-left .nav > li:nth-child(3){width: 48px;}

.site-head-left .nav > li:hover::before,
.site-head-left .nav > li.active::before {
    left: 0;
    right: 0;
}

.site-head-left .nav > li > a {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    letter-spacing: -0.01em;
    color: #000;
    opacity: 0.3;
}
.site-head-left .nav > li > a:hover { 
    opacity: 0.5;
}

.site-head-left .nav > li > a.active {
    opacity: 1;
}

.site-head li {
    display: inline-block;
    margin-right: 24px;
}
.site-head li:nth-child(3){
    margin: 0;
}


/* Layout
/* ---------------------------------------------------------- */
.site-wrapper {
    width: 100%;
    padding: 3vw 4vw;
    min-height: 100vh;
}
@media (max-width: 850px) {
    .site-wrapper {
        padding: 6vw auto;
    }
}
@media (min-width: 1680px) {
    .site-wrapper {
        max-width: 1680px;
        margin: 0 auto;
    }
}

.page-head {
    margin: 0;
    padding-bottom: 30px;
}

.page-head-title {
    padding-top: 60px;
    margin: 1.5em 0 .8em 0;
    color: var(--color-base);
    font-size: 2.6rem;
    font-weight: var(--font-medium);
    letter-spacing: -0.01em;
    line-height: 1.4;
}
@media (max-width: 500px) {
    .page-head-title {
        font-size: 2rem;
    }
}
.page-head-hashtag {
    margin: 0 0 1.5em 0;
    color: var(--color-base);
    font-size: 1.5rem;
    font-weight: var(--font-medium);
}
.page-head-topic {
    margin: 0 0 2em 0;
    color: var(--color-base);
    font-size: 1.3rem;
    font-weight: var(--font-normal);
    letter-spacing: -0.01em;
    line-height: 1.4;
    opacity: .5;
}


/* Post Feed 메인 썸네일
/* ---------------------------------------------------------- */

.post-feed {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.75rem;
    flex-wrap: wrap;
}
.post-feed main{
    margin-bottom: 20px;
}
.post-card {
    position: relative;
    flex: 1 1 50%;
    display: flex;
    position: relative;
    /* height: 35vw; */
    background: linear-gradient(135deg, #1f1f1f 0%, #111 100%) center center;
    background-size: cover;
    overflow: hidden;
    counter-increment: posts;
}


.post-card-title {
    margin: 16px 0 0 0;
    font-size: 2rem;
    letter-spacing: -0.02em;
    font-weight: var(--font-medium);
    line-height: 1.4;
}
.post-category {
    margin-top: 6px;
    font-size: 1.4rem;
    letter-spacing: -0.02em;
    font-weight: var(--font-normal);
    opacity: .6;
}


@media (max-width: 850px) {
    .post-feed {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Footer
/* ---------------------------------------------------------- */

.site-foot {
    width: 100%;
}
.site-foot .inner{
    text-align: right;
    margin: 0 auto; 
}
.site-foot .inner .foot-sns {
    margin-bottom: 20px;
}
.site-foot .inner .foot-sns > li {
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 24px;
    position: relative;
}

.site-foot .inner .foot-sns > li::before {
    content: "";
    position: absolute;
    z-index: 999;
    left: 0;
    right: 100%;
    bottom: 0px;
    background: #000; 
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.site-foot .inner .foot-sns > li:hover::before {
    left: 0;
    right: 0;
}
.site-foot .inner .foot-sns > li > a {
    font-size: 14px;
    font-weight: var(--font-medium);
    text-decoration: none;
    color: var(--color-base);
}
.site-foot .inner .copyright {
    text-align: right;
    font-size: 12px;
    color: var(--color-secondary);
    /* opacity: 0.25; */
}
.site-foot .inner .copyright > a{
    text-decoration: none;
    color: var(--color-secondary);
}



/* Mobile Nav Menu
/* ---------------------------------------------------------- */

.nav-burger {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    padding: 12px 12px 12px 0;
}

@media (max-width: 850px) {
    .site-head {
        padding: 2vw 4vw;
        background-color: #fff; 
    }
    .nav-burger {
        display: block;
        padding: 4vw 4vw;
    }
    .site-head-container {
        flex-direction: column;
        justify-content: flex-start;
        height: 40px;
        z-index: -1;
        transition: all 0.4s ease-out;
        overflow: hidden;
    }
    .nav {
        width: 100%;
        margin: 10vw 0 0 0;
    }
    .nav > li {
        display: block;
        /* max-width: 100%; */
        padding: 40px 0;
        margin-bottom: 20px;
        /* background-color: darkblue; */
    }

    .site-head-left .nav > li:nth-child(n){width: auto;}

    .site-head-left .nav > li > a {
        font-size: 4rem;
        letter-spacing: -0.02em;
    }

    /* 오픈될때 */
    .site-head-open {
        /* background: #000;
        transition: background 0.5s ease-out; */
        transition-delay: 0.25;
        overflow: hidden;
        height: 100vh;
    }

    .site-head-open .site-head-container {
        height: 100vh;
        transition: height 0.2s ease-in; 
    }

    .site-head-open .site-head-left,
    .site-head-open .site-head-right {
        z-index: 9999;
        height: auto;
        transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }

    .site-head-open .site-head-left a,
    .site-head-open .site-head-right a {
        opacity: 1;
        transition: transform 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
        opacity 0.9s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transform: scale(1) translateY(0px);
    }
    .site-head-open .site-foot {
        display: block;
        position: fixed;
        z-index: 9999;
        bottom: 0;
        transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transform: translateY(-4vw);
    }

}


